<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JML.Common.Properties.Settings.SteelIce2ConnectionString"
            connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\SteelIce2.mdf;Initial Catalog=SteelIce2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>